<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd">


    <!-- 配置静态资源交给web容器处理（默认的servlet） -->
    <mvc:default-servlet-handler/>

    <!-- 配置组件扫描controller -->
    <context:component-scan base-package="com.huaxing.ssm.controller"></context:component-scan>

    <!-- 注解驱动配置处理器映射器，处理器适配器 -->
    <mvc:annotation-driven>

    </mvc:annotation-driven>


    <!-- 配置视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 配置视图的公共目录路径 -->
        <property name="prefix" value="/WEB-INF/jsp/"></property>

        <!-- 配置视图扩展名称 -->
        <property name="suffix" value=".jsp"></property>
    </bean>

</beans>